/.gradle/
/build/
/run/
/.idea/

/run/config/
/.idea/shelf/Uncommitted_changes_before_Update_at_5_1_2025_11_21_PM_[Changes]/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]1/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]2/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_1_2025_11_21_PM_[Changes]/checksums.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]1/checksums.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]2/checksums.lock
/src/main/java/net/Gabou/projectatmosphere/modules/core.zip
/.idea/shelf/Uncommitted_changes_before_Update_at_5_1_2025_11_21_PM_[Changes]/executionHistory.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]1/executionHistory.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]2/executionHistory.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_1_2025_11_21_PM_[Changes]/executionHistory.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_4_2025_1_44_PM_[Changes]/executionHistory.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]/executionHistory.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]1/executionHistory.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]2/executionHistory.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_1_2025_11_21_PM_[Changes]/file-system.probe
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_54_PM_[Changes]/file-system.probe
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]1/file-system.probe
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]2/file-system.probe
/.idea/shelf/Uncommitted_changes_before_Update_at_5_1_2025_11_21_PM_[Changes]/fileHashes.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_54_PM_[Changes]/fileHashes.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]1/fileHashes.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]2/fileHashes.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_1_2025_11_21_PM_[Changes]/fileHashes.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_54_PM_[Changes]/fileHashes.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]1/fileHashes.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]2/fileHashes.lock
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/shelf/Uncommitted_changes_before_Update_at_5_1_2025_11_21_PM_[Changes]/md5-checksums.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_54_PM_[Changes]/md5-checksums.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]1/md5-checksums.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]2/md5-checksums.bin
/src/main/java/net/Gabou/projectatmosphere/modules.zip
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_5_1_2025_11_21_PM_[Changes]/sha1-checksums.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]/sha1-checksums.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]1/sha1-checksums.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]2/sha1-checksums.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_5_1_2025_11_21_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM_[Changes]2/shelved.patch
/src/main/java/net/Gabou/projectatmosphere/modules/temperature.zip
/src/main/java/net/Gabou/projectatmosphere/temperature.zip
/src/main/java/net/Gabou/projectatmosphere/temperature (2).zip
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_5_5_2025_10_55_PM__Changes_2.xml
.idea/

.tmp_dynamictrees/
.tmp_dynamictrees_full/

/pa_realistic_cloud_renderer_design.md
