# IntelliJ project files
/shelf/
/workspace.xml

# Build system
.gradle/
**/build/
**/.gradle/

# Editor-based HTTP Client requests
/httpRequests/

# Maven-related
/mavenHomeManager.xml

# Datasource configs
/dataSources/
dataSources.local.xml
