# Gradle build cache (all versions)
.gradle/
**/.gradle/

# Build output
**/build/

# IntelliJ project files
*.iml
.idea/
.idea/modules/

# Editor-based HTTP Client requests
/httpRequests/

# Maven-related
/mavenHomeManager.xml

# Datasource configs
/dataSources/
dataSources.local.xml
/workspace.xml
